<div class="container mt-5 ">
    <h1>Products</h1>
    <!-- Button modal create -->
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create
        </button>
        <a class="float-end btn btn-primary" href="/admin/trash/product">Trash({{count}})</a>
    </div>
    <!-- Modal create -->
    {{> adminCreateProduct}}
    <form name="form-action-checkbox" method="POST" action="/admin/action/product" >
        <div class="form-check my-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" value="" id="check-all-product">
            <label class="form-check-label" for="check-all-product">
                Select All
            </label>
            <select class="form-select w-25 mx-4 " required name="action" aria-label="Default select example">
                <option value="" selected>Action</option>
                <option value="delete">Delete</option>
            </select>
            <button type="submit" class="submit-action-checkbox btn btn-primary disabled">Apply</button>
        </div>
        <table class="table align-middle text-center">
            <thead>
                <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Img</th>
                <th scope="col">Name</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Real Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                <td>
                    <div class="form-check my-3">
                        <input class="form-check-product-input" name="productIds[]" type="checkbox" value="{{this._id}}" >
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td><img src={{this.urlImg}} height=100 alt=""></td>
                <td>{{this.title}}</td>
                <td>{{this.sellPrice}}</td>
                <td>{{this.realPrice}}</td>
                <td><a href="/admin/update/product/{{this._id}}" class="btn btn-primary">Edit</a></td>
                <td><a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-delete-product"  data-bs-id="{{this._id}}">Delete</a></td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="8">Bạn chưa có sản phẩm nào</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>
{{!-- moadal comfirm detele product --}}

<div class="modal fade" id="modal-delete-product" tabindex="-1" aria-labelledby="modal-delete-productLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-delete-productLabel">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger accept-delete-product">Yes</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-product-form" method="POST"  ></form>
<script src="/js/page/uploadImg.js"></script>
<script>
    var confirmDeleteProduct = document.getElementById('modal-delete-product');
    let id;
    confirmDeleteProduct.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    id = button.getAttribute('data-bs-id');
    formDelete = document.forms['delete-product-form'];
    const accept = document.querySelector('.accept-delete-product');
    accept.onclick = function() {
        formDelete.action = `/admin/delete/product/${id}?_method=DELETE`;
        formDelete.submit();
    }
    })
    document.addEventListener('DOMContentLoaded', function()  {
        const checkAllProduct = $('#check-all-product');
        const checkProduct = $('.form-check-product-input');
        const inputCheckbox = $('input[type="checkbox"]');
        const submitActionCheckbox = $('.submit-action-checkbox');
        const formActionCheckbox = $('form[name="form-action-checkbox"]');

        console.log(formActionCheckbox)
        //handle checkbox
        checkAllProduct.change(function() {
            const isCheckAllProduct = checkAllProduct.prop('checked');
            checkProduct.prop('checked', isCheckAllProduct);
        })
        checkProduct.change(function() {
            const isCheckAllProduct = $('input[name="productIds[]"]:checked').length === checkProduct.length;
            checkAllProduct.prop('checked', isCheckAllProduct);
        })
        //handle disable submit
        inputCheckbox.change(function(){
            if($('input[type="checkbox"]:checked').length == 0){
                submitActionCheckbox.addClass('disabled');
            }
            else{
                submitActionCheckbox.removeClass('disabled');
            }
        })

        })
</script>