<div class="container collectionPage">
    <h1 class="my-4 collectionPage__title " >{{params}}</h1>
    <div class="row box-product">
        {{#each productsCollection}}
            <a style="width: 100%;" href="products/{{this.slug}}" role="button">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="{{this.urlImg}}" alt="{{this.title}}" style="width: 100%;">
                        <div class="caption my-3 text-center">
                            <h3 style="font-size: 16px; font-weight:600">{{this.title}}</h3>
                            <p class="" style="font-size: 20px; font-weight:600">{{this.sellPrice}} - <del>{{this.realPrice}}</del></p>
                            <p class=""><a style="width: 100%;" href="products/{{this.slug}}" class="btn btn-primary" role="button">Add To Cart</a></p>
                        </div>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
</div>


